@media (min-device-width: 320px) and (max-device-width: 479px) {

    @font-face {
        font-family: 'Source Serif 4';
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        src: url('/fnt/SourceSerif4-Regular.ttf.woff2') format('woff2'),
            url('/fnt/SourceSerif4-Regular.otf.woff') format('woff'),
            url('/fnt/SourceSerif4-Regular.otf') format('opentype'),
            url('/fnt/SourceSerif4-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Serif 4';
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        src: url('/fnt/SourceSerif4-It.ttf.woff2') format('woff2'),
            url('/fnt/SourceSerif4-It.otf.woff') format('woff'),
            url('/fnt/SourceSerif4-It.otf') format('opentype'),
            url('/fnt/SourceSerif4-It.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Serif 4';
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        src: url('/fnt/SourceSerif4-Bold.ttf.woff2') format('woff2'),
            url('/fnt/SourceSerif4-Bold.otf.woff') format('woff'),
            url('/fnt/SourceSerif4-Bold.otf') format('opentype'),
            url('/fnt/SourceSerif4-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Serif 4';
        font-weight: 700;
        font-style: italic;
        font-stretch: normal;
        src: url('/fnt/SourceSerif4-BoldIt.ttf.woff2') format('woff2'),
            url('/fnt/SourceSerif4-BoldIt.otf.woff') format('woff'),
            url('/fnt/SourceSerif4-BoldIt.otf') format('opentype'),
            url('/fnt/SourceSerif4-BoldIt.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Code Pro';
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        src: url('/fnt/SourceCodePro-Regular.ttf.woff2') format('woff2'),
            url('/fnt/SourceCodePro-Regular.otf.woff') format('woff'),
            url('/fnt/SourceCodePro-Regular.otf') format('opentype'),
            url('/fnt/SourceCodePro-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Code Pro';
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        src: url('/fnt/SourceCodePro-It.ttf.woff2') format('woff2'),
            url('/fnt/SourceCodePro-It.otf.woff') format('woff'),
            url('/fnt/SourceCodePro-It.otf') format('opentype'),
            url('/fnt/SourceCodePro-It.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Code Pro';
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        src: url('/fnt/SourceCodePro-Bold.ttf.woff2') format('woff2'),
            url('/fnt/SourceCodePro-Bold.otf.woff') format('woff'),
            url('/fnt/SourceCodePro-Bold.otf') format('opentype'),
            url('/fnt/SourceCodePro-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Code Pro';
        font-weight: 700;
        font-style: italic;
        font-stretch: normal;
        src: url('/fnt/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
            url('/fnt/SourceCodePro-BoldIt.otf.woff') format('woff'),
            url('/fnt/SourceCodePro-BoldIt.otf') format('opentype'),
            url('/fnt/SourceCodePro-BoldIt.ttf') format('truetype');
    }

    html,
    body {
        width: 96%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0;
        font-size: 1.15em;
        line-height: 1.2;
        overflow-x: auto !important;
    }
}

@media (min-device-width: 480px) and (max-device-width: 767px) {

    html,
    body {
        width: 90%;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0;
        font-size: 1.15em;
        line-height: 1.2;
        overflow-x: auto !important;
    }
}

@media (min-device-width: 768px) and (max-device-width: 1023px) {

    html,
    body {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        font-size: 1.15em;
        line-height: 1.2;
        overflow-x: auto !important;
    }
}

@media (min-device-width: 1024px) {

    html,
    body {
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
        font-size: 1.15em;
        padding: 0;
    }
}

html,
body {
    padding: 0;
    font-family: 'Source Serif 4', Georgia sans-serif, Arial, Helvetica;
    font-size: 1.15em;
    font-style: normal;
    font-variant: normal;
    line-height: 1.15;
    overflow-x: auto !important;
}

title {
    font-size: large;
    font-weight: bold;
}

h1 {
    font-size: 1.7em;
}

#tiny-dsa-and-number-theoretic-transforms {
    display: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: -0.5em;
    margin-block-end: 1em;
    padding-inline-start: 3em;
}

li {
    margin: 4px 0 1px 0;
}

img {
    width: 90%;
    height: 80%;
    display: block;
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.9em;
}

code.sourceCode {
    font-size: 1.1rem;
    line-height: 1.2;
}

.math {
    font-size: 1rem;
    line-height: 1.25;
}

#hide {
    display: none;
}